.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;

  & > :nth-child(n+2) {
    margin-top: 1rem;
  }

  & > label {
    display: block;
    width: 100%;

    & h3 {
      margin: 0;
      font-size: 1rem;
    }

    & input {
      width: 100%;
      font: inherit;
      box-sizing: border-box;
      border: 2px solid #eaeaea;
      padding: .5em;
      border-radius: .25rem;
    }

    & .errors {
      padding: 0;
      margin: .5rem 0 0;
      
      &:empty {
        display: none;
      }

      & li {
        list-style: none;
        color: var(--theme-red);
        display: flex;
        align-items: baseline;

        &::before {
          content: '!';
          height: 1em;
          width: 1em;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin-right: .5em;
          line-height: 1;
          color: white;
          background: var(--theme-red);
        }
      }
    }
  }

  & .extra {
    display: flex;
    justify-content: space-between;

    & label {
      display: flex;
      align-items: center;

      & span {
        margin-left: .5em;
      }
    }
  }

  & .new-user {
    align-self: center;
  }
}
